.about-section {
  width: 100%;
  background-color: #fafafa;
  padding: 6rem 1rem;
}

/* ------------------------------------- */

.about-header h1 {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 6rem;
  position: relative;
}

.about-header h1::after {
  content: '';
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: var(--primary-color);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

/* ------------------------------------- */

.about-content {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8rem;
}

.content-left,
.content-right {
  max-width: 30rem;
  opacity: 0;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.content-left {
  transform: translateX(-30%);
}

.content-right {
  transform: translateY(40%);
}

.content-left h3,
.content-right h3 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.content-left p {
  font-size: 1rem;
  color: grey;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.content-left button {
  padding: 1rem 3rem;
}

.content-left button:hover {
  opacity: 0.9;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  min-width: 25rem;
  gap: 10px;
}

.skill-tag {
  border: 1px solid var(--light-gray-color);
  background-color: #fafafa;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 25px;
  text-align: center;
}

@media (max-width: 1024px) {
  .about-section {
    padding: 5rem 1.5rem;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 5rem;
  }

  .skills {
    min-width: 20rem;
  }

  .content-left,
  .content-right {
    max-width: 100%;
  }
}

.content-animate {
  transform: translateX(0);
  transform: translateY(0);
  opacity: 1;
}

/* ------------------------------------- */

.about-codes {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  max-width: 100%;
  gap: 30px;

  opacity: 0;
  transform: translateY(25%);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.code-animate {
  opacity: 1;
  transform: translateY(0);
}

/* ------------------------------------- */
/* code block1 styling */
/* ------------------------------------- */

.person-container {
  background-color: #011627;
  color: #d6deeb;
  padding: 20px 60px 20px 0;
  border-radius: 10px;
}

.person-keyword {
  color: #c792ea;
}

.person-name {
  color: #6796e6;
}

.person-property {
  color: rgb(165, 247, 165);
}

.person-boolean {
  color: #d3525d;
}

.person-function {
  color: rgb(116, 200, 233);
}

.person-string {
  color: rgb(230, 181, 91);
}

/* ------------------------------------- */
/* code block2 styling */
/* ------------------------------------- */

.code-container {
  background-color: #011627;
  color: #d6deeb;
  padding: 20px 60px 20px 0;
  border-radius: 10px;
}

.javascript {
  color: #d6deeb;
}

.keyword {
  color: #c792ea;
}

.function-call {
  color: rgb(121, 197, 226);
}

.string {
  color: rgb(230, 181, 91);
}

@media (max-width: 1024px) {
  .about-codes {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 30px;
    font-size: 0.9rem;
    transform: translateY(20%);
    opacity: 0;
  }

  .code-animate {
    opacity: 1;
    transform: translateY(0);
  }

  .person-container,
  .code-container {
    padding: 20px 0 10px 0;
    overflow: auto;
  }
}
