:root {
  --primary-color: #1a1a2d;
  --secondary-color: #0e1a58;
  --button-color: #0e1a58;
  --light-gray-color: #bdbdbd;
  --text-color: #fafafa;

  --gradient: linear-gradient(to bottom, #1a1a2d, #4759b0);
  --gradient1: linear-gradient(135deg, #d0b2e4 0%, #4751da 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  cursor: pointer;
  background: var(--button-color);
  color: #fff;
  letter-spacing: 2px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  font-size: 0.8rem;
}

/* ---------------------------------------- */
/* back-to-top Component styling */
/* ---------------------------------------- */

.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
