.footer-container {
  /* background-color: #1a1a2d; */

  color: #fff;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------------------------------- */
/* mobile icons styling */
/* -------------------------------- */

.mobile-icons {
  display: flex;
  gap: 60px;
  z-index: 10;
}

.linkedin-icon,
.github-icon,
.resume-icon,
.email-icon {
  color: #fff;
  transition: transform 0.2s ease;
}

.linkedin-icon:hover,
.github-icon:hover,
.resume-icon:hover,
.email-icon:hover {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .mobile-icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .mobile-icons i {
    font-size: 1.6rem;
  }
}

/* -------------------------------- */
/* copyright styling */
/* -------------------------------- */

.copyright {
  padding-top: 25px;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .copyright {
    font-size: 0.9rem;
  }
}
