.footer-container {
  background-color: #1a1a2d;
  /* background-color: rgba(26, 26, 45, 1); */

  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* -------------------------------- */
/* mobile icons styling */
/* -------------------------------- */

.mobile-icons {
  display: flex;
  gap: 60px;
}

.mobile-icons i {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
}

.mobile-icons i:hover {
  transform: scale(1.1);
}

.mobile-icons .fa-linkedin {
  color: var(--text-color);
}

.mobile-icons .fa-github {
  color: var(--text-color);
}

.mobile-icons .fa-file-lines {
  color: var(--text-color);
}

.mobile-icons .fa-envelope {
  color: var(--text-color);
}

@media (max-width: 1024px) {
  .mobile-icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .mobile-icons i {
    font-size: 1.6rem;
  }
}

/* -------------------------------- */
/* copyright styling */
/* -------------------------------- */

.copyright {
  padding-top: 25px;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .copyright {
    font-size: 0.9rem;
  }
}
