.hero {
  background-image: linear-gradient(to bottom, #4759b0, #1a1a2d);
  width: 100%;
  max-height: 80vh;
  height: 70rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  position: relative;
}

.hero-inner {
  color: var(--text-color);
  width: 700px;
  height: 300px;
  padding: 48px 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  letter-spacing: 4px;
}

.hero-inner h1 {
  font-size: 2rem;
  text-align: center;
}

.hero-inner p {
  font-size: 1.4rem;
  text-align: center;
}

@media (max-width: 768px) {
  .hero {
    width: 100%;
    max-height: 100vh;
    height: 60rem;
  }

  .hero-inner {
    width: 100%;
    height: 100px;
    padding: 48px 32px;
    gap: 30px;
    letter-spacing: 4px;
  }

  .hero-inner h1 {
    font-size: 1.6rem;
  }

  .hero-inner p {
    font-size: 0.9rem;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.button-wrapper div {
  width: 33.33%;
  color: var(--text-color);
}

.button-wrapper button {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 24px 40px;

  color: var(--text-color);
  letter-spacing: 5px;

  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.button-wrapper div:not(:last-child) {
  border-right: 1px solid var(--text-color);
}

.button-wrapper button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .button-wrapper {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .button-wrapper div {
    width: 100%;
  }

  .button-wrapper div:not(:last-child) {
    border: none;
  }
}

/* -------------------------------- */
/* mobile icons styling */
/* -------------------------------- */

.mobile-icons {
  gap: 20px;
  display: none;
}

.mobile-icons i {
  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--text-color);
}

.mobile-icons .fa-linkedin {
  color: var(--text-color);
}

.mobile-icons .fa-github {
  color: var(--text-color);
}

.mobile-icons .fa-file-lines {
  color: var(--text-color);
}

.mobile-icons .fa-envelope {
  color: var(--text-color);
}

@media (max-width: 1024px) {
  .mobile-icons {
    display: flex;
  }
}

/* -------------------------------- */
/* mouse scroll styling */
/* -------------------------------- */

.mouse-scroll-container {
  position: absolute;
  bottom: 3rem;
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}

.mouse::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eee;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@media (max-width: 768px) {
  .mouse {
    display: none;
  }
}
