.hero {
  background-image: linear-gradient(to bottom, #4759b0, #1a1a2d);
  width: 100%;
  height: 70rem;
  max-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  position: relative;
}

.hero-inner {
  color: var(--text-color);
  width: 700px;
  height: 300px;
  padding: 48px 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  letter-spacing: 4px;
}

.start {
  transform: translateY(25%);
  opacity: 0;
}

.end {
  transform: translateY(0);
  opacity: 1;
}

.line-one {
  font-size: 2rem;
  text-align: center;
  transition: all 0.4s ease-in-out 0s;
}

.line-two {
  font-size: 1.4rem;

  transition: all 0.4s ease-in-out 0s;

  border-right: 0.1em solid #fff;
  white-space: nowrap;

  overflow: hidden;
  animation: typing 8s steps(40, end) infinite, blink-caret 1s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }

  25% {
    width: 100%;
  }

  50% {
    width: 100%;
  }

  75% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

@media (max-width: 768px) {
  .hero {
    width: 100%;
    max-height: 85vh;
    height: 60rem;
  }

  .hero-inner {
    width: 100%;
    height: 100px;
    padding: 48px 32px;
    gap: 30px;
    letter-spacing: 4px;
  }

  .hero-inner h1 {
    font-size: 1.6rem;
  }

  .hero-inner p {
    font-size: 0.9rem;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;

  transition: all 0.4s ease-in-out 0s;
}

.button-wrapper div {
  width: 33.33%;
  color: var(--text-color);
}

.button-wrapper button {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 24px 40px;

  color: var(--text-color);
  letter-spacing: 5px;

  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.button-wrapper div:not(:last-child) {
  border-right: 1px solid var(--text-color);
}

.button-wrapper button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

@media (max-width: 768px) {
  .button-wrapper {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .button-wrapper div {
    width: 100%;
  }

  .button-wrapper div:not(:last-child) {
    border: none;
  }
}

/* -------------------------------- */
/* mouse scroll styling */
/* -------------------------------- */

.mouse-scroll-container {
  position: absolute;
  bottom: 3rem;
  transition: all 0.6s ease-in-out 0s;
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
  transform: scale(1.1);
}

.mouse::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eee;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}
