.navbar {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  color: #000;
  width: 100%;
  font-size: 1.1rem;

  top: 0px;
  padding: 16px 140px;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
}

.navbar ul {
  display: flex;
  gap: 40px;
}

.navbar li {
  padding: 8px 0px;
  border-bottom: 2px solid transparent;
  transition-delay: 0.1s;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.navbar li:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--secondary-color);
}

@media (max-width: 768px) {
  .navbar {
    padding: 12px 10px;
    justify-content: center;
    font-size: 0.9rem;
  }

  .navbar ul {
    display: flex;
    gap: 12px;
  }

  .navbar li {
    padding: 8px;
  }
}
