:root {
  --primary-color: #dd2c00;
}

.navbar {
  background-color: #333;
  background-color: rgba(20, 20, 20, 0.8);
  color: #fff;
  width: 100%;
  font-size: 1.2rem;
  /* opacity: 0.7; */

  /* position: fixed; */
  top: 0px;
  padding: 20px 100px;
  transition: 0.5s;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar li {
  padding: 12px 10px;
}

.navbar li:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);
}
