:root {
  --highlight-color: #4cceac;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);

  color: rgba(0, 0, 0, 1);

  width: 100%;
  font-size: 1rem;

  top: 0px;
  padding: 14px 140px;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
}

/* ------------------------ */

.navbar ul {
  display: flex;
  padding: 2px 0px;
  gap: 40px;
}

.navbar li {
  position: relative;
  padding-bottom: 4px;
  font-size: 1rem;
  letter-spacing: 2px;

  display: flex;
  align-items: center;
  gap: 4px;
  transition: color 0.1s ease-in-out;
}

.navbar li:hover {
  cursor: pointer;
  color: #4cceac;
}

.navbar li::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s ease-in-out;
  background-color: var(--highlight-color);
}

/* .navbar li:hover::after {
  width: 100%;
} */

.navbar li.active::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s ease-in-out;
  background-color: var(--highlight-color);
}

.navbar li.active:hover::before {
  width: 100%;
}

.navbar li.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4cceac;
}

/* ------------------------ */

@media (max-width: 768px) {
  .navbar {
    padding: 8px;
    justify-content: center;
    font-size: 0.9rem;
  }

  .navbar ul {
    gap: 12px;
    padding: 6px;
  }

  .navbar li {
    padding: 6px;
  }

  .navbar-icon {
    display: none;
  }
}
