.projects-section {
  width: 100%;
  margin-bottom: 200px;
}

/* -------------------------------- */
/* header */
/* -------------------------------- */

.projects-header h2 {
  border-bottom: 1px solid var(--secondary-color);
  width: 100%;
  padding-top: 90px;
  line-height: 0.1em;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.projects-header h2 span {
  background-color: var(--primary-color);
  color: #e6e6e6;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .projects-header h2 {
    padding-top: 90px;
    font-size: 1.6rem;
  }
}

/* -------------------------------- */
/* projects */
/* -------------------------------- */

.projects-container {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.project-right,
.project-left {
  color: var(--text-color);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.project-info {
  max-width: 650px;
  height: 440px;

  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-description {
  width: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-description h3 {
  margin-top: 20px;
}

.project-description p {
  margin-right: 40px;
}

.project-description h4 {
  margin: 20px 0;
}

.project-description ul li {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 20px;
  margin-bottom: 5px;
}

.button-group {
  margin: 40px auto;
  display: flex;
  gap: 20px;
}

.btn {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
}

.btn i {
  margin-left: 6px;
}

.btn span,
i {
  color: var(--text-color);
}

.video-overlay {
  width: 650px;
  height: 340px;
  position: relative;
  background-color: teal;
}

.video-right {
  top: 35px;
  left: 100px;
  position: absolute;
  width: 100%;
  height: auto;
}

.video-left {
  top: 35px;
  right: 100px;
  position: absolute;
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .projects-container {
    width: 100%;
    padding: 0px 20px 0px 20px;
    gap: 180px;
    height: 100%;
  }

  .project-right,
  .project-left {
    margin-top: 50px;
  }
}

@media (max-width: 1024px) {
  .projects-container {
    margin-top: 100px;
  }

  .project-right,
  .project-left {
    width: 100%;
    height: 700px;
    flex-direction: column;
    gap: 10px;
  }

  .project-left {
    flex-direction: column-reverse;
  }

  .project-info {
    width: 100%;
    padding: 0 14px 0 14px;
    justify-content: center;
    gap: 30px;
  }

  .project-description {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .project-description h3 {
    margin-top: 20px;
    font-size: 1rem;
  }

  .project-description h4 {
    font-size: 0.9rem;
  }

  .project-description p {
    margin-right: 0px;
    font-size: 0.8rem;
  }

  .project-description ul li {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    list-style-type: disc;
    list-style-position: outside;
  }

  .button-group {
    margin: 10px auto;
    display: flex;
    gap: 16px;
  }

  .btn {
    padding: 7px 10px;
    font-size: 0.9rem;
    border-radius: 5px;
  }

  .video-overlay {
    width: 100%;
    height: 100%;
    position: static;
    background-color: transparent;
  }

  .video-right,
  .video-left {
    position: static;
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .projects-container {
    margin-top: 120px;
    padding: 0px 10px 0px 10px;
    gap: 240px;
  }

  .project-right,
  .project-left {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .projects-container {
    margin-top: 50px;
    gap: 140px;
  }

  .project-right,
  .project-left {
    height: 600px;
  }
}

@media (max-width: 600px) {
  .projects-container {
    gap: 100px;
  }

  .project-right,
  .project-left {
    height: 550px;
  }
}

@media (max-width: 480px) {
  .projects-container {
    gap: 120px;
  }

  .project-right,
  .project-left {
    height: 460px;
  }
}
