.projects-section {
  width: 100%;
  padding: 8rem 1rem;
  background-image: linear-gradient(to bottom, #4759b0, #1a1a2d);
  color: var(--text-color);
}

/* ------------------------------------- */

.projects-header h1 {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 6rem;
  position: relative;
}

.projects-header h1::after {
  content: '';
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: var(--text-color);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

/* ------------------------------------- */

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  margin-bottom: 8rem;
}

.project-video {
  width: 700px;
}

.project-content {
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.project-content h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.project-content p {
  font-size: 1.2rem;
  color: #bdbdbd;
  max-width: 30rem;
  line-height: 1.7;
  margin-bottom: 3rem;
}

@media (max-width: 1024px) {
  .project {
    display: flex;
    flex-direction: column;
  }

  .project-content {
    align-items: center;
  }

  .project-video {
    width: 100%;
  }

  .project-content h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .project-content p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

/* ------------------------------------- */

.button-group {
  display: flex;
  gap: 10px;
}

.button-group .btn {
  padding: 0.7rem 2rem;
  font-size: 0.9rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: transparent;
  color: var(--text-color);

  letter-spacing: 3px;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.button-group .btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button-group .btn i {
  margin-left: 10px;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .button-group .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
}
