:root {
  --side-offsetX: -72px;
}

.side-links-container {
  width: 120px;
  position: fixed;
  top: 35%;
}

.side-links-container ul {
  width: 100%;
}

.side-links {
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s ease;
}

.linkedin {
  background-color: #0072b1;
  padding: 0 4px;
  transform: translateX(var(--side-offsetX));
}

.linkedin:hover {
  transform: translateX(0px);
}

.github {
  background-color: #2c2c2c;
  padding: 0 2px;
  transform: translateX(var(--side-offsetX));
}

.github:hover {
  transform: translateX(0px);
}

.resume {
  background-color: #0088a3;
  padding: 0 5px;
  transform: translateX(var(--side-offsetX));
}

.resume:hover {
  transform: translateX(0px);
}

.email {
  background-color: #424242;
  padding: 0 1px;
  transform: translateX(var(--side-offsetX));
}

.email:hover {
  transform: translateX(0px);
}

.side-links a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.side-links span {
  color: #fff;
  font-size: 0.9rem;
}

.side-links i {
  font-size: 1.7rem;
  margin-right: 10px;
}

.fa-file-lines {
  margin-left: 3px;
}
